<div class="col-sm-4 col-sm-offset-4">
	<!-- Directive? -->
	<div ng-show="vm.showProgress" class="sk-folding-cube animated fadeIn">
		<div class="sk-cube1 sk-cube"></div>
		<div class="sk-cube2 sk-cube"></div>
		<div class="sk-cube4 sk-cube"></div>
		<div class="sk-cube3 sk-cube"></div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 text-center">
		<h3 ng-if="vm.showStatus" class="margin-y-15 white">
				<span ng-if="vm.state.current.name == 'shell.results'">{{vm.repos.total_count}} results found for "{{vm.searchQuery}}"</span>
				<span ng-if="vm.state.current.name == 'shell.issues'">Showing up to the first 30 issues of {{vm.issues.total_count}} for "{{vm.repoName}}" by {{vm.repos.items[$index].owner.login}}</span>
		</h3>
		<h3 ng-if="vm.status !== ''">{{vm.status}}</h3>
	</div>
</div>