html {
	font-size: 16px;
}

body {
	font-family: 'Droid Sans', sans-serif;
	color: #333;
	min-width: 300px;
}


/* Body Colour Changes on State Change - uses vm.state.current.name */

body,
body.shell {
	background-color: #4286fc;
}

body[class*="results"] {
	background-color: #32a350;
}

body[class*="issues"] {
	background-color: #f1b12c;
}

a {
	cursor: pointer;
}

a:hover,
.btn:hover {
	text-decoration: none;
	color: #56affb;
}


/* TYPOGRAPHY */

h1,
h3 {
	font-family: 'Paytone One', sans-serif;
	margin-top: 10px;
}

h1 {
	font-size: 4rem;
	line-height: 0.75;
}

h4 {
	font-family: 'Droid Sans', sans-serif;
	font-size: 1rem;
	color: #ccc;
	margin-top: -7px;
	margin-bottom: 12px;
	text-transform: capitalize;
}

.bold {
	font-weight: 900;
}


/* GENERAL */

.flex-list {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	align-content: stretch;
	justify-content: space-around;
}

.flex-item {
	flex-grow: 1;
	flex-shrink: 1;
	align-self: flex-start;
	max-width: 100%;
	margin: 0 auto;
}


/* Card */

.card {
	border-radius: 2px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
	margin: 10px;
}

.inner-card {
	background: #faf8fa;
	padding: 20px 20px 30px 20px;
}

.header {
	overflow: hidden;
	text-align: center;
}

.avatar {
	width: 75px;
	height: 75px;
	border-radius: 50px;
	float: left;
	margin-bottom: 20px;
}


/* Icons and Numbers */

.numbers-row {
	margin-top: -10px;
	margin-bottom: auto;
	font-size: 0.66rem;
	color: #000;
	opacity: 0.4;
	padding-left: 10px;
}

.numbers {
	float: left;
	padding: 5px;
}

.icon {
	background: no-repeat center center;
	background-size: contain;
	display: block;
	float: left;
	height: 0.66rem;
	margin: 2px 5px 5px 0;
	width: 0.66rem;
}

.icon.fork {
	background-image: url(../img/icon-fork.png);
}

.icon.issue {
	background-image: url(../img/icon-issue.png);
}

.icon.star {
	background-image: url(../img/icon-star.png);
}


/* Issues */

.tag {
	border-radius: 10px;
	padding: 5px 10px;
	max-width: 65px;
	text-align: center;
	background: #32a350;
	color: #fff;
	text-transform: capitalize;
}

.tag.red {
	background: #e44034;
}


/* BUTTONS */

.btn {
	border-radius: 0;
	background: #fff;
	color: #337ab7;
}

.btn:hover {
	background: #337ab7;
	color: #fff;
}

.btn-50 {
	width: 50%;
}


/* FROMS */

.form-control {
	padding: 10px 15px;
	border: none;
	margin: 10px auto;
	border-radius: 0;
	height: 50px;
}


/* TRANSITIONS */

.btn,
.btn:hover,
body,
body.results,
body.issues,
a,
a:hover {
	transition: all 0.5s ease;
}


/* UTILITY */

.white {
	color: #fff;
}

.gry {
	color: #666;
}

.margin-y-15 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.margin-b-30 {
	margin-bottom: 30px;
}

.margin-y-30 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.margin-t-30vh {
	margin-top: 30vh;
}


/* SPINNER / LOADER / PROGRESS */

.sk-folding-cube {
	margin: 20px auto;
	width: 40px;
	height: 40px;
	position: relative;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #333;
	-webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
	animation: sk-foldCubeAngle 2.4s infinite linear both;
	-webkit-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
	-webkit-transform: scale(1.1) rotateZ(90deg);
	transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
	-webkit-transform: scale(1.1) rotateZ(180deg);
	transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
	-webkit-transform: scale(1.1) rotateZ(270deg);
	transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
	0%,
	10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
	75% {
		-webkit-transform: perspective(140px) rotateX(0deg);
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	90%,
	100% {
		-webkit-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}

@keyframes sk-foldCubeAngle {
	0%,
	10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
	75% {
		-webkit-transform: perspective(140px) rotateX(0deg);
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	90%,
	100% {
		-webkit-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}


/* MEDIA QUERIES */

@media only screen and (min-width: 480px) {
	.flex-item {
		max-width: 49%;
	}
}


/* Small Devices, Tablets */

@media only screen and (min-width: 996px) {
	.flex-item {
		max-width: 33%;
	}
}